/*----colors-----*/
$white: #fff;
$black: #000;
$primary : #5BB5A2;
$secondary: #E8F2EE;
$border: #e8e8e8;
$primary-filter: brightness(0) saturate(100%) invert(68%) sepia(29%) saturate(552%) hue-rotate(117deg) brightness(88%) contrast(91%);
$secondary-filter : brightness(0) saturate(100%) invert(89%) sepia(7%) saturate(259%) hue-rotate(90deg) brightness(112%) contrast(90%);